@model ATM.Models.Transaction

@{
    ViewBag.Title = "QuickCashSuccess";
}

<h2>Quick cash withdrawal succeeded</h2>

<div>
    <div>You have successfully withdrawn $100 from your account! </div>
    
</div>

