@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>This app was created for practice purposes. Users are able to create an account, deposit, withdraw or transfer imaginary money to other accounts, as well as check their balance or their prior transactions. </p>
